html {
    font-size: 20px;
    background-color: #272946;
    color: #e7ffee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #272946;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #eda031;
    font-size: 1.5rem;
    text-decoration: none;
}

h2 {
    color: #eda031;
}

.flex {
    display: flex;
}

/* Header */

header ul {
    justify-content: space-around;
}

header ul li {
    display: inline;
}

/* Banner */

#banner {
    position: relative;

    background-image: url("../images/BannerImg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    z-index: -2;

    height: 95vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha channel (last value) for darkness */
  }

#banner h1 {
    font-size: 4rem;
    margin-bottom: -10px;
    text-decoration: underline;
}

#banner h1,
#banner h3 {
    z-index: 2;
}

/* Portfolio */

#portfolio {
    border-bottom: #e7ffee solid 10px;
}

.project {
    width: 25%;
    padding-top: 15%;
    background-size: cover;
}

.project h2 {
    padding-left: 10px;
}

#portfolio #gameDev {
    background-image: url("../images/link.png");
}

#portfolio #thisWebsite {
    background-image: url("../images/link.png");
}

#portfolio #music {
    background-image: url("../images/link.png");
}

#portfolio #etc {
    background-image: url("../images/link.png");
}

/* About Me */

#about {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    overflow: hidden;
    border-bottom: #e7ffee solid 10px;
}

#about .container {
    width: 50%;
    padding: 0 15px;
}

#about img {
    width: 50%;
    position: relative;
    top: 5rem;
}

/* Contact */

#contact {
    text-align: center;
    padding: 1rem;
}

/* Footer */